.banner-area{
    background-image: url(../../../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    max-width: 500px;
}

.banner-text h1{
    font-size: 50px;
    color: #ffffff;
}

.banner-text p{
    color: #fff;
    font-size: 16px;
} 

