.banner-area{
    background-image: url(../../../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    
}
.banner-text{
    max-width: 500px;
}

.banner-text h1{
    font-size: 50px;
    color: #ffffff;
}

.banner-text p{
    color: #fff;
    font-size: 16px;
} 



@media (max-width:688px) {
    .banner-text h1{
        font-size: 40px;
        color: #ffffff;
    } 

    .banner-text{
        max-width:400px;
        padding:0 7px;
    }

    .headerDashBtn{
        margin-bottom: 10px;
        
    }
}
